.months-div {
    width: 80%;
    height: 80%;
    background-color: #AED9E0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-month {
    margin: 50px;
    margin-bottom: 50px;
}

.single-month-link {
    text-decoration: none;
    color: white;
}